<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プログラミングコンテスト冬</title>
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="indexx.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>
<body>
    <p id="default">01:00</p>
    <p id="counter">1</p> <div id="score">score</div><p id="counter2">0</p>
    <div id="app">
        <button type="button" class="modal-open Fizz bubbly-button" id="Fizz">Fizz</button>
        <button type="button" class="modal-open Buzz bubbly-button" id="Buzz">Buzz</button>
        <button type="button" class="modal-open FizzBuzz bubbly-button" id="FizzBuzz">FizzBuzz</button>
        <button type="button" class="modal-open Other bubbly-button" id="Other">other</button>
      </div>
      <!-- モーダル本体 -->
    <div class="modal-container2">
	    <div class="modal-body2">
		    <!-- モーダル内のコンテンツ -->
		    <div class="modal-content2">
			    <p>Are you ready</p>
            <h2>↓push to start↓</h2>
          <div id="start" class="modal-close">start</div>
		    </div>
	    </div>
    </div>
      <!-- モーダル本体 -->
    <div class="modal-container">
	    <div class="modal-body">
		    <!-- モーダル内のコンテンツ -->
		    <div class="modal-content">
          <p>TIME UP!!</p>
            <h2>↓push↓</h2>
                <input type="button" class="kekka" id="kekka" value="your score">
		    </div>
	    </div>
    </div>

    <script src="indexx.js"></script>
    <script src="indexx2.js"></script>
    <script src="indexx3.js"></script>
</body>
</html>