<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>1ページ目</title>
    <link rel="stylesheet" href="index2.css">
    <link rel="stylesheet" href="haikei.css">
    <link rel="stylesheet" href="button2.css">
</head>
<body> 
    <div class="balloon2">
        <p>ひとりでも</p>
        </div>
        <div class="balloon2">
            <p>みんなとでも</p>
            </div>
    <br><br><br><br><br><p id="daimei">FIzzBuzzGame</p>
    <p id="sub">FizzBuzzGameで遊ぼう♪</p>
    <p id="setumei">3で割り切れる時はFizz</p>
    <p id="setumei">5で割り切れる時はBuzz</p>
    <p id="setumei">15で割り切れる時はFizzBuzz</p>
    <p id="setumei">を選んでね♪</p>
    <p id="setumei">60秒間に間違わないように何個進めるかな</p><br><br>
    <input type="button" class="modal-open2" onclick="location.href='/index2'" value="start">
</body>
</html>