<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="kekka.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="box2">
    <p id="box"></p><p id="box2"></p><p id="box3"></p>
    <h2>↓push↓</h2>
    <button onclick="location.href='/'">back to home</button>
  </div>
  <script src="kekka.js"></script>
</body>
</html>